<div class="col-md-3" style="padding: 16px; margin-bottom: 12px">
  <div>
    <div
      class="d-flex"
      style="
        flex-wrap: wrap;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
        padding: 16px;
        margin-bottom: 12px;
      "
    >
      <img
        src="https://api.dicebear.com/9.x/big-smile/svg?seed=<%= user._id %>"
        alt="avatar"
        style="width: 100px; height: 100px; border-radius: 50%; vertical-align: middle"
      />

      <div style="display: flex; flex-grow: 1">
        <div
          style="
            flex-grow: 1;
            padding-top: 10px;
            padding-left: 5px;
            padding-right: 40px;
            font-weight: 900;
          "
        >
          Hello <%= user.name %>
          <p><span>Wallet amount : </span><%= walletBalance.toFixed(2) %></p>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div
      class="div"
      style="
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
      "
    >
      <div class="menu-headinggg" style="padding-top: 1rem">General</div>

      <div class="menu-itemmm">
        <a href="/manage-address">ADDRESS</a>
      </div>

      <div class="menu-itemmm"><a href="/my-order">ORDERS</a></div>

      <div class="menu-itemmm"><a href="/wishlist">WISH LIST</a></div>

      <div class="menu-itemmm"><a href="/my-coupon">COUPONS</a></div>

      <div class="menu-itemmm" style="display: flex; padding-bottom: 1rem">
        <a href="">
          <svg
            width="24"
            height="24"
            class=""
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill="#2874F0"
              stroke-width="0.3"
              stroke="#2874F0"
              d="M13 3h-2v10h2V3zm4.83 2.17l-1.42 1.42C17.99 7.86 19 9.81 19 12c0 3.87-3.13 7-7 7s-7-3.13-7-7c0-2.19 1.01-4.14 2.58-5.42L6.17 5.17C4.23 6.82 3 9.26 3 12c0 4.97 4.03 9 9 9s9-4.03 9-9c0-2.74-1.23-5.18-3.17-6.83z"
            ></path>
          </svg>
          <span style="font-weight: 600; padding-left: 10px">Logout</span>
        </a>
      </div>
    </div>
  </div>
</div>
