<%- include('../layout/header.ejs') -%>

<div class="container">
  <div class="row justify-content-center mt-4 mb-2">
    <div class="col-auto">
      <img src="assets2/img/apple-icon.png" alt="Logo" class="img-fluid" />
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form action="/signUp" method="post" onsubmit="return validate()">
        <div class="mb-3 position-relative">
          <% if (messages.uname) { %>
            <div class="text-danger serverError" style="position: absolute; top: -22px; left: 6px">
              <%= messages.uname %>
            </div>
          <% } %>
          <div class="text-danger" id="userError" style="position: absolute; top: -22px; left: 6px"></div>
          <input type="text" name="uname" id="uname" class="form-control" placeholder="Enter your name"   />
        </div>

        <div class="mb-3 position-relative">
          <% if (messages.email) { %>
            <div class="text-danger serverError" style="position: absolute; top: -22px; left: 6px">
              <%= messages.email %>
            </div>
          <% } %>
          <div class="text-danger" id="emailError" style="position: absolute; top: -22px; left: 6px"></div>
          <input type="email" name="email" id="email" class="form-control" placeholder="Enter your email"   />
        </div>

        <div class="mb-3 position-relative">
          <div class="text-danger" id="phoneErr" style="position: absolute; top: -22px; left: 6px"></div>
          <input type="tel" name="phone" id="phone" class="form-control" placeholder="Enter your phone"   />
        </div>

        <div class="mb-3 position-relative">
          <div class="text-danger" id="passwordError" style="position: absolute; top: -22px; left: 6px"></div>
          <input type="password" name="password" id="password" class="form-control" placeholder="Create password"   />
        </div>

        <div class="mb-3 position-relative">
          <div class="text-danger" id="passwordError2" style="position: absolute; top: -22px; left: 6px"></div>
          <input type="password" name="conform" id="conform" class="form-control" placeholder="Confirm password"   />
        </div>

        <div class="d-grid gap-2 mb-3">
          <button type="submit" class="btn btn-outline-dark">Sign up</button>
        </div>

        <div class="position-relative mb-3">
          <img src="/img/google.png" alt="Google logo" style="position: absolute; width: 20px; height: 20px; top: 0.7rem; left: 9px;" />
          <a href="/auth/google" class="btn btn-outline-dark" style="padding-left: 50px;">Log in with Google</a>
        </div>

        <div class="text-center">
          <p>Have an account? <a href="/login" style="color: rgb(48, 94, 150);">Log in</a></p>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="js/user/form-validation.js"></script>

<%- include('../layout/footer.ejs') -%>
